
<nav class="navbar navbar-expand-md  navbar fixed-top navbar-dark bg-dark ">
  
  <div class="container-fluid">
    
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/singup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/add">Add Product</a>
     </li>
       </ul>
</div>
    <form class="form-inline ">
        <input class="form-control mr-sm-2" type="search" placeholder="Search"class="form-control " aria-label="Search">
        <button class="btn btn-success " type="submit">Search</button> 
        <!-- btn-outline-success --> 
    </form>
</nav>

<div class="row">
  <div class="col-sm-4">
  <div class="card" >
   <div class="text-center">
     <img src="/p" class="card-img-top" alt="mo" class="img-rounded" style="width:60%" height="100%">
     <div class="card-body">
     <h5 class="card-title">iphone 11</h5>
     <p class="card-text">
      Display: 5.5 inch <br>
      Storage: 128GB <br>
      RAM: 4GB <br>
      Camera: 12MP
     
      </p>
      <div class="price float-left">600$ </div>
    <a href="#" class="btn btn-success-right">buy</a>
  </div>
  </div>
 </div> 
</div>

<div class="col-sm-4">
  <div class="card" >
  <div class="text-center">
  <img src="/p" class="card-img-top" alt="mo" class="img-rounded" style="width:60%" height="100%">
  <div class="card-body">
    <h5 class="card-title">iphone 11</h5>
    <p class="card-text">
      Display: 5.5 inch <br>
      Storage: 128GB <br>
      RAM: 4GB <br>
      Camera: 12MP
     
      </p>
      <div class="price float-left">600$ </div>
    <a href="#" class="btn btn-success-right">buy</a>
  </div>
  </div> 
  </div>
 </div> 
     
<div class="col-sm-4">
 <div class="card" >
  <div class="text-center">
  <img src="/p" class="card-img-top" alt="mo" class="img-rounded" style="width:60%" height="100%">
  <div class="card-body">
    <h5 class="card-title">iphone 11</h5>
    <p class="card-text">
      Display: 5.5 inch <br>
      Storage: 128GB <br>
      RAM: 4GB <br>
      Camera: 12MP
     
      </p>
      <div class="price float-left">600$ </div>
    <a href="#" class="btn btn-success-right">buy</a>
    </div>
 </div> 
</div>      
</div>

<div class="col-sm-4">
 <div class="card" >
  <div class="text-center">
  <img src="/images/s20.png" class="card-img-top" alt="mosq" class="img-rounded" style="width:60%" height="100%">
  <div class="card-body">
    <h5 class="title">iphone 11</h5>
    <p class="card-text">
      Display: 5.5 inch <br>
      Storage: 128GB <br>
      RAM: 4GB <br>
      Camera: 12MP
     
      </p>
       <div class="price float-left">700$ </div>
    <a href="#" class="btn btn-success">buy</a>
    </div>
   </div> 
  </div>
 </div>

<div class="col-sm-4">
 <div class="card" >
  <div class="text-center">
  <img src="/images/20.png" class="card-img-top" alt="mosq" class="img-rounded" style="width:60%" height="100%">
  <div class="card-body">
    <h5 class="title">Note20 Ultra</h5>
    <p class="card-text">
      Display: 7 inch <br>
      Storage: 512GB <br>
      RAM: 12GB <br>
      Camera: 64MP
      </p>
       <div class="price float-left">1200$ </div>
    <a href="#" class="btn btn-success">buy</a>
    </div>
   </div>
 </div>
</div>


<div class="col-sm-4">
<div class="card" >
  <div class="text-center">
  <img src="/images/21.png"
   class="card-img-top" alt="mo" class="img-rounded" style="width:60%" height="100%">
  <div class="card-body">
    <h5 class="card-title">Galaxy S21</h5>
    <p class="card-text">
      Display: 6 inch <br>
      Storage: 228GB <br>
      RAM: 6GB <br>
      Camera: 20MP
     
      </p>
      <div class="price float-left">900$ </div>
    <a href="#" class="btn btn-success-right">buy</a>
     </div>
   </div> 
   </div>     
  </div>
 </div>


<!-- <h1>{{success}}</h1>
 

<nav class="navbar navbar-expand-md  navbar fixed-top navbar-dark bg-dark ">


    




    <form action="/" method="POST" >
    <input type="text" name="name">
    <input type="email" name="email">
    <button type="submit">submit</button>
    </form>
    
({{#each list }}
    <div>
        username: {{this.username}}
    </div>
    <div>
       useremail : {{this .useremail}}
    </div>
{{/each}})
<form action="/get" method="get" >
    <input type="text" name="get">
</form>

    <form action="/up" method="POST" >
    <label for="user name"> user name</label>
    <input type="text" name="name">
    <input type="email" name="email">
    <button type="submit">up</button>
    </form>
    -->